body {
  font-family: 'Lato';
}

.portfolio-section {
  width: 100vw;
  height: 100vh;
}

.name-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 7em;
}

.job-title {
  font-weight: 300;
  font-size: 3em;
}

.link-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.link-line {
  font-family: 'Droid Serif';
  font-size: 1.5em;
  width: 100%;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-link:hover,
.contact-link:hover {
  color: rgba(0, 184, 240, 0.63)
}

.contact-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.contact-link {
  margin: .25em;
}

.pipes {
  font-size: 1.2em;
}

.project-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.project-screenshot {
  position: absolute;
  width: 50%;
}

.project-detail {
  position: absolute;
  width: 45%;
  right: 3%;
}

.project-header {
  text-align: center;
  font-size: 4em;
  margin-bottom: 2em;
}

.memory {
  margin-top: 31em;
}

.resourceful {
  margin-top: 54em;
}

.appointments {
  margin-top: 77em;
}

.appt {
  margin-top: 2.5em;
}

.signup {
  margin-top: 112em;
}

.hangman {
  margin-top: 135em;
}

#about-section {
  margin-top: 175em;
  margin-bottom: 12em;
}

.about {
  font-size: 2em;
  width: 60%;
  margin: auto;
}

.footer-info {
  text-align: center;
}
