.name-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.name {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 7em;
}

.job-title {
  font-family: 'Lato';
  font-weight: 300;

  font-size: 3em;
}

.link-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.link-line {
  font-family: 'Droid Serif';
  font-size: 1.5em;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-link:hover,
.contact-link:hover {
  color: rgba(0, 184, 240, 0.63)
}

.contact-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3em;
  width: 100%;
}

.contact-link {
  font-family: 'portfolio-icons';
  margin: .25em;
}
